<script src="functions.js"></script>
<script src="chartkick.js"></script>
<script src="https://www.gstatic.com/charts/loader.js"></script>
<script src="application.js"></script>
<% require "chartkick" %>

<div class="main">
  <h1>Explore Recent Submissions</h1>
  </br>
  </br>
  <p>There have been <%= @total.to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse %> valid submissions so far.</p>

  </br>
  <div id="chart">
    <%= geo_chart Submitteds.group(:state).count, library: {region: 'US', resolution: 'provinces'}, label: "Submissions" %>
  </div>
  </br>

  <p>Explore data:</p>
  <p>Group by:
    <input type="radio" onclick="javascript:showTable();" name="showtable" id="optionOneCheck" checked="checked"> # of Submissions  <input type="radio" onclick="javascript:showTable();" name="showtable" id="optionTwoCheck"> State
  </p>
  <br>
      <div id="optionOne">
        <p>
          <table>
            <tr>
              <th style="width: 50px;">State</th>
              <th style="width: 100px;"># of Submissions</th>
            </tr>
            <% @num_sorted.each do |item| %>
              <tr>
                <td> <%= p item[0] %> </td>
                <td> <%= p item[1] %> </td>
              </tr>
            <% end %>
          </table>
        </p>
      </div>

      <div id="optionTwo" style="display: none;">
        <p>
          <table>
            <tr>
              <th style="width: 50px;">State</th>
              <th style="width: 100px;"># of Submissions</th>
            </tr>
            <% @alpha_sorted.each do |item| %>
              <tr>
                <td> <%= p item[0] %> </td>
                <td> <%= p item[1] %> </td>
              </tr>
            <% end %>
          </table>
        </p>
      </div>
  <a href="/"><input class='button' type='submit' value='Home' name='button' style="margin-top: 4%;"/></a>
</div>
