<h1>Where Do My Taxes Go?</h1>
</br>
<div id="results">
  <p>Based on the information you entered, your annual tax obligation before deductions is around: $<%=  '%.2f' % @total_tax %>. </p>
  <p>According to our calculations, this would break down in the <a href="https://www.whitehouse.gov/wp-content/uploads/2018/02/budget-fy2019.pdf" target="_blank">proposed 2019 federal budget</a> as follows:</p>
</br>
  <table>
    <tr>
      <th style="width: 100px;">Category</th>
      <th style="width: 200px;">Budget Item</th>
      <th style="width: 50px;">%</th>
      <th style="width: 200px;">Your Contribution</th>
    </tr>
    <tr>
      <td>Mandatory Programs</td>
      <td></td>
      <td></td>
      <td></td>
    <tr>
      <td></td>
      <td class="item">Social Security</td>
      <td>24.28</td>
      <td>$<%= '%.2f' % @socsec %></td>
    </tr>
    <tr>
      <td></td>
      <td class="item">Medicare</td>
      <td>14.51</td>
      <td>$<%= '%.2f' % @medicare %></td>
    </tr>
    <tr>
      <td></td>
      <td class="item">Medicaid</td>
      <td>9.50</td>
      <td>$<%= '%.2f' % @medicaid %></td>
    </tr>
    <tr>
      <td></td>
      <td class="item">Health Exchange Subsidies</td>
      <td>1.04</td>
      <td>$<%= '%.2f' % @h_ex_sub %></td>
    </tr>
    <tr>
      <td></td>
      <td class="item">Other Mandatory Programs</td>
      <td>13.16</td>
      <td>$<%= '%.2f' % @mand_prog %></td>
    </tr>
    <tr>
      <td></td>
      <td class="item">Infrastructure Initiative</td>
      <td>1.04</td>
      <td>$<%= '%.2f' % @inf_init %></td>
    </tr>
    <tr>
      <td>Net Interest</td>
      <td></td>
      <td>8.42</td>
      <td>$<%= '%.2f' % @net_int %></td>
    </tr>
    <tr>
      <td>Discretionary Programs</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td class="item">Dept of Agriculture</td>
      <td>0.44</td>
      <td>$<%= '%.2f' % @d_agr %></td>
    </tr>
    <tr>
      <td></td>
      <td class="item">Dept of Commerce</td>
      <td>0.22</td>
      <td>$<%= '%.2f' % @d_com %></td>
    </tr>
    <tr>
      <td></td>
      <td class="item">Dept of Defense</td>
      <td>13.86</td>
      <td>$<%= '%.2f' % @d_def %></td>
    </tr>
    <tr>
      <td></td>
      <td class="item">Dept of Education</td>
      <td>1.39</td>
      <td>$<%= '%.2f' % @d_edu %></td>
    </tr>
    <tr>
      <td></td>
      <td class="item">Dept of Energy</td>
      <td>0.67</td>
      <td>$<%= '%.2f' % @d_ene %></td>
    </tr>
    <tr>
      <td></td>
      <td class="item">Dept of Health & Human Services</td>
      <td>1.61</td>
      <td>$<%= '%.2f' % @d_hhs %></td>
    </tr>
    <tr>
      <td></td>
      <td class="item">Dept of Homeland Security</td>
      <td>1.06</td>
      <td>$<%= '%.2f' % @d_hs %></td>
    </tr>
    <tr>
      <td></td>
      <td class="item">Dept of Housing & Urban Development</td>
      <td>0.91</td>
      <td>$<%= '%.2f' % @d_hu %></td>
    </tr>
    <tr>
      <td></td>
      <td class="item">Dept of the Interior</td>
      <td>0.26</td>
      <td>$<%= '%.2f' % @d_int %></td>
    </tr>
    <tr>
      <td></td>
      <td class="item">Dept of Justice</td>
      <td></td>
      <td>$<%= '%.2f' % @d_jus %></td>
    </tr>
    <tr>
      <td></td>
      <td class="item">Dept of Labor</td>
      <td>0.21</td>
      <td>$<%= '%.2f' % @d_lab %></td>
    </tr>
    <tr>
      <td></td>
      <td class="item">State Dept & International Programs</td>
      <td>0.65</td>
      <td>$<%= '%.2f' % @st_dep %></td>
    </tr>
    <tr>
      <td></td>
      <td class="item">Dept of Transportation</td>
      <td>0.36</td>
      <td>$<%= '%.2f' % @d_tra %></td>
    </tr>
    <tr>
      <td></td>
      <td class="item">Dept of the Treasury</td>
      <td>0.28</td>
      <td>$<%= '%.2f' % @d_tre %></td>
    </tr>
    <tr>
      <td></td>
      <td class="item">Dept of Veteran's Affairs</td>
      <td>1.92</td>
      <td>$<%= '%.2f' % @d_va %></td>
    </tr>
    <tr>
      <td></td>
      <td class="item">Corps of Engineers</td>
      <td>0.11</td>
      <td>$<%= '%.2f' % @corp_eng %></td>
    </tr>
    <tr>
      <td></td>
      <td class="item">Environmental Protection Agency</td>
      <td>0.12</td>
      <td>$<%= '%.2f' % @epa %></td>
    </tr>
    <tr>
      <td></td>
      <td class="item">General Services Administration</td>
      <td>0.01</td>
      <td>$<%= '%.2f' % @gsa %></td>
    </tr>
    <tr>
      <td></td>
      <td class="item">National Aeronautics & Space Administration</td>
      <td>0.45</td>
      <td>$<%= '%.2f' % @nasa %></td>
    </tr>
    <tr>
      <td></td>
      <td class="item">National Science Foundation</td>
      <td>0.12</td>
      <td>$<%= '%.2f' % @nsf %></td>
    </tr>
    <tr>
      <td></td>
      <td class="item">Small Business Administration</td>
      <td>0.01</td>
      <td>$<%= '%.2f' % @sba %></td>
    </tr>
    <tr>
      <td></td>
      <td class="item">Social Security Administration</td>
      <td>0.20</td>
      <td>$<%= '%.2f' % @ssa %></td>
    </tr>
    <tr>
      <td></td>
      <td class="item">Other Agencies</td>
      <td>0.41</td>
      <td>$<%= '%.2f' % @other_agencies %></td>
    </tr>
    <tr>
      <td></td>
      <td class="item">Overseas Contingency Operations</td>
      <td>2.34</td>
      <td>$<%= '%.2f' % @overseas %></td>
    </tr>
    <tr>
      <td></td>
      <td class="item">Emergency Funding</td>
      <td>0</td>
      <td>$<%= '%.2f' % @em_fund %></td>
    </tr>
    <tr>
      <td></td>
      <td class="item">Program Integrity</td>
      <td>0.05</td>
      <td>$<%= '%.2f' % @prog_integ %></td>
    </tr>
    <tr>
      <td></td>
      <td class="item">Disaster Relief</td>
      <td>0.15</td>
      <td>$<%= '%.2f' % @dis_relief %></td>
    </tr>
    <tr>
      <td></td>
      <td class="item">Wildfire Supression</td>
      <td>0.03</td>
      <td>$<%= '%.2f' % @wildfire %></td>
    </tr>
    <tr>
      <td><strong>Total</strong></td>
      <td></td>
      <td>100</td>
      <td></td>
    </tr>
  </table>
  </br>
  <form action="/results" method="post">
    <input class='button' type='submit' value='Start Over' name='button'/>
  </form>
</br>
</div>
